<div class="wrapper d-flex align-items-stretch">
  <div id="content" class="p-4 p-md-5">
    <div class="container">
      <div class="cards-list">


        <div class="card 4">
          <div class="card_image">
            <img src="../../assets/images/dashboardtiles/Confirmed.jpg" />
          </div>
          <div class="card_title title-white">
            <p style="color: wheat;">CONFIRMED: {{Confirmed}}</p>

          </div>
        </div>


        <div class="card 4">
          <div class="card_image">
            <img src="../../assets/images/dashboardtiles/Recovered.jpg" />
          </div>
          <div class="card_title title-white">
            <p style="color:wheat;">RECOVERED: {{Recovered}}</p>

          </div>
        </div>



        <div class="card 4">
          <div class="card_image">
            <img src="../../assets/images/dashboardtiles/Active.jpg" />
          </div>
          <div class="card_title title-white">
            <p style="color: wheat;">Active:{{Active}}</p>
            <P></P>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
